*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    background: #111;
}

.heading{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.list{
    background: wheat;
    width: 40%; 
    margin-top: 10px;
    border-radius: 20px;
    padding: 50px;
}

.input{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input input{
    width: 60%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0px 10px;
}

.input button{
    width: 20%;
    border-radius: 10px;
    border:none;
    outline:none;
    background: rgb(243, 165, 19);
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.input button:hover{
    background: rgb(255, 123, 0);
    transition: 0.3s ease-in-out;
}   

.ul{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 50px;
    font-size: 14px;
    align-content: center;
    flex-direction: column;
}

.ul-div{
    display: flex;
    justify-content: space-around;
}

.ul input{
    cursor: pointer;
}



img{
    width: 16px;
    filter: invert(1);
}